@import 'variaveis';

<<<<<<< HEAD
@mixin enfase ($tamanho, $estilo, $cor) {
  color: $cor;
  font-size: $tamanho;
  margin: 0;
  font-family: $estilo;
=======
@mixin enfase {
  color: $cor-principal;
>>>>>>> 5059414 (Pequenas mudanças)
  font-weight: bold;
}

@mixin posicionamento {

}

@mixin btn {
	background-color: $cor-principal;
<<<<<<< HEAD
  color: white;
  border-radius: 5px;
  height: 2.5rem;
  width: 11rem;
  font-size: 1rem;
=======
	color:white;
	border-radius: 5px;
	height: 3rem;
	width: 10rem;
>>>>>>> 5059414 (Pequenas mudanças)

}

@mixin input {
<<<<<<< HEAD
  border: 1px solid $cor-principal;
  border-radius: 5px;
  height: 1rem;
  width: 11rem;
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
}
=======
    
}
>>>>>>> 5059414 (Pequenas mudanças)
