$cor-principal: #4b207f;
$cor-principal-claro: #6e3aa7;
$cor-principal-escuro: #2e0e4d;
$cor-secundaria: black;
$largura-pagina: 412px;
$fonte-titulo: 'Ysabeau', sans-serif;
$fonte-texto: 'Jaldi', sans-serif;
